@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Variables */

:root {
  --black: #0a0a0a;
  --white: #fafafa;
  --primary: #c79200;
}

/* Main Tag Styles */
/* Sorted Alphabetically */

/* First Grade */

* {
  /* Spacers */
  margin: 0;
  padding: 0;
}
body {
  /* Display */
  display: flex;
  flex-direction: column;
  height: 100dvh;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  /* Spacers */
  padding: 1rem;
  /* Colors */
  background-color: #222;
  border-top: 1px solid var(--white);
}
main {
  /* Display */
  flex: 1;
}

/* Second Grade */

body > header {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* Spacers */
  padding: 1.5rem 10%;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
  /* Colors */
  background-color: var(--black);
  color: var(--white);
}

main h2 {
  /* Spacers */
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  /* Texts */
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
  /* Colors */
  border-bottom: 2px solid var(--black);
}
main > div {
  /* Display */
  width: 75rem;
  /* Spacers */
  padding: 0 2rem 1rem 2rem;
  margin-inline: auto;
}

/* Third Grade */

body > header a {
  /* Display */
  transform: scale(1);
  transition: transform 0.3s ease;
  /* Texts */
  text-decoration: none;
  /* Colors */
  color: var(--white);
}
body > header a:hover {
  /* Display */
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
body > header p {
  /* Spacers */
  margin: 0;
  /* Texts */
  font-size: 1.35rem;
  font-weight: bold;
}

footer div p {
  /* Spacers */
  padding-block: 0.2rem;
  /* Texts */
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  /* Colors */
  color: var(--white);
}
body > header nav {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  /* Texts */
  font-size: 1.2rem;
}

/* Fourth Grade */

body > header nav a {
  /* Display */
  user-select: none;
  /* Spacers */
  padding-inline: 1rem;
  /* Texts */
  text-decoration: none;
  font-weight: bold;
  /* Colors */
  color: var(--white);
}
body > header nav a:hover {
  /* Colors */
  color: var(--blue);
}
footer div p a {
  /* Colors */
  color: var(--white);
}

/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.invisible {
  /* Display */
  display: none;
}
.model-cards-list {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.model-select {
  /* Display */
  display: none;
}


/* Second Grade */

.cards-list-container div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 1263px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  main > div {
    /* Display */
    width: auto;
  }
}

@media screen and (max-width: 1235px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  body > header {
    /* Spacers */
    padding: 1rem;
  }

  /* Third Grade */

  body header > p {
    /* Texts */
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 635px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* First Grade */
  
  .model-cards-list {
    /* Display */
    display: none;
  }
  .model-select {
    /* Display */
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    /* Spacers */
    padding: 0.5rem;
    /* Texts */
    font-size: 1rem;
  }
}
@media screen and (max-width: 587px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div p {
    /* Texts */
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 476px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div p {
    /* Texts */
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 420px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div p {
    /* Texts */
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 365px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div p {
    /* Texts */
    font-size: 0.5rem;
  }
}
