/* Tailwind CSS Imports */
@import "tailwindcss";
/* Tailwind CSS Theme Config */
@theme {
  --font-inter: inter;
  --color-mateoryPurple: #a72dbc;
  --color-mateoryPurpleLight: #a54ab5;
}
/* New Themes */
@custom-variant dark (&:where(.dark, .dark *));
/* Add Inter Font to use with Tailwind CSS */
@font-face {
  font-family: "inter";
  src: url(/fonts/Inter.ttf) format("truetype");
}
/* Change Autocomplete styles in Chrome */
input:-webkit-autofill {
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}
/* Change Autocomplete styles in Chrome in Dark Mode */
.dark {
  & input:-webkit-autofill {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
}